<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/ebf975a56d.js" crossorigin="anonymous"></script>
  <title>Cavero laadpalen</title>
  <link rel="icon" type="image/png" href=".../components/ja dit heb ik gestolen.png" size="500%">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href ="style.css"/>
</head>

<body>
  <!-- navbar moet als vue component geparsed worden-->
  <nav class="navbar-default">
  <div class="container-fluid top-navbar">
      <a><img src=".../components/Logo Loods UltraHDTV.png" class="caverologo" height="50" ></a>
      <ul class="nav navbar-nav">
        <li>          
          <a href="main.html" >
            <font class ="hovermap">
              <i class="fa fa-thin fa-map"></i>         
              Map
            </font>              
        </a>
        </li>
        <li>
          <a href="Profile.html">
            <font class ="hoverprofile">
              <i class="fa fa-thin fa-user"></i>
              Profile
            </font>
          </a>
        </li>
        <li>
          <a href="reservations.html">
            <font class ="hoverreserv">
              <i class="fa fa-thin fa-calendar-days"></i>
              Reservations
            </font>
          </a>
        </li>
      </ul>
    </div>
  </nav> 
  <img src="../Screenshot 2022-10-07 220856.png" align="center" class ="caveromap">
  <i class="fa fa-thin fa-car normalcharger"></i>
</body>
</html>
